.upcomingevents_wrapper {
  background-color: white;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}

.homepage_header {
  float: left;
  background-color: none;
}
.nav_icons {
  float: right;
}

.nav_btn {
  background: #083b69;
  border: none;
  border-radius: 50%;
  margin-top: 60px;
  width: 50px;
  opacity: 1;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  float: right;
}

#profile {
  margin-right: 60px !important;
  margin-left: 15px;
}
.nav_btn:hover {
  background-color: #29d4dd;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.nav_img {
  background: transparent;
  padding: 0px;
  margin: 5px;
}

.events_dashboard--title {
  color: white;
  font-size: 50px;
  font-weight: 900;
  color: white;
  font-size: 50px;
  align-items: center;
  width: 100vw;
  height: 250px;
  align-content: center;
  padding-top: 8%;
  background-color: #083b69;
}

.addevent_btn--container {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  margin: 3%;
  background: none;
}

.addevent_btn {
  background: #ec7689;
  color: white;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  width: 160px;
  margin: 10px;
  height: 50px;
}

.addevent_btn:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.addevent_img {
  display: inline;
  align-items: center;
  background-color: #ec7689;
  height: 15px;
  justify-content: center;
  border: none;
  outline: none;
}

.addevent_img:hover {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.formgroup .hidden {
  opacity: 0;
}

.modaladd_form {
  background: none;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.eventForm {
  color: white;
  align-content: center;
  justify-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 450px;
  border-radius: 5%;
}

form {
  border-radius: 20%;
}
.form-control {
  font-size: 20px;
}

.eventForm input {
  height: 70px;
  margin-top: auto;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  border-radius: 0px;
  font-weight: 600;
  font-size: 1em;
}

input:focus {
  outline: none;
}

#firstName,
#lastName {
  background-color: #2c577e;
  height: 70px;
  width: 450px;
  padding: 15px 32px;
}

#lastName {
  background-color: #083b69;
}

.eventTypes {
  background-color: #2c577e;
  color: white;
  padding: 25px 30px;
  height: 75px;
  font-size: 1.3rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 16em;
  place-content: center;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  color: #7edfe4;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;

  border-radius: 20%;
  background-color: #ffffff;
  transition: background 100ms;
  cursor: pointer;
}

/* Pseudo element for check styling */
[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ffffff;
}

/* Checked */
[type="checkbox"]:checked {
  background-color: currentcolor;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* .groupSelect {
  width: 450px;
  height: 70px;
  padding: 20px 30px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
} */
