/* setting margin to 0 in body of app and the following code helps to set backgound to a specific colour */
.homepage_header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 60px;
  justify-content: left;
}

.form_wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  height: 830px;
  justify-content: center;
  align-items: center;
}

.form_container {
  height: 650px;
  box-shadow: rgb(8, 61, 107) 0px 2px 8px;
  width: 400px;
  border-radius: 8px;
  background-color: white;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.actionBtns {
  width: 80%;
  background-color: #29d4dd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 15px;
}

.actionBtn {
  padding: 0.9em;
  width: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  font-weight: 800;
  font-size: 0.9em;
  cursor: pointer;
}
.moveBtn {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 2px;
  color: #29d4dd;
  border: none;
  border-radius: 10px;
  background-color: rgb(243, 241, 241);
  font-weight: 800;
  font-size: 0.9em;
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
}
.rightBtn {
  color: #29d4dd;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.inputGroup {
  width: 300px;
  margin: 0em 0;
  background-color: white;
}

.inputGroup input {
  width: 100%;
  padding: 15px 20px;
  margin-top: 40px;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgba(0, 0, 0, 0.589);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9em;
}

/* .error {
  border: 1px solid hsla(0, 100%, 74%, 0.521) !important;
  position: relative;
} */

.inputGroup input:focus {
  outline: none;
}

.submitBtn {
  width: 150px;
  padding: 0.8em;
  margin-top: 4em;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: #083b69;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  font-weight: 600;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #29d4dd;
  transition: all 0.3s ease-in-out;
}

.form {
  display: none;
  height: 0px;
}

.signupForm {
  display: block;
  background-color: white;
}

.loginForm {
  display: block;
  background-color: white;
}

.hide {
  display: none;
}

.inputGroup p {
  position: absolute;
  background-color: transparent;
  text-align: right;
  /* align-content: right; */
  padding-top: 5px;
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.submitLoginBtn {
  width: 150px;
  padding: 0.8em;
  margin-top: 4em;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: #083b69;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  font-weight: 600;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submitLoginBtn:hover {
  background-color: #29d4dd;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 428px) {
  .form_container {
    width: 80%;
    height: 65%;
    margin-top: 0px;
    /* margin-right: 30px;
    margin-left: 30px; */
  }

  .field {
    height: 30px !important;
    margin: -40px;
    padding: 0px;
    width: 250px !important;
  }

  .inputGroup {
    margin-top: 0px;
    padding-top: 0px;
  }

  .inputGroup p {
    margin-left: 25px;
    padding-top: 5px;
    font-size: 12px;
  }

  .actionBtns {
    width: 70%;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .actionBtn {
    font-size: 15px;
  }
}
