* {
  box-sizing: border-box;
}

.App-header {
  background-color: #083b69;
}

.title_img {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5%;
  margin-top: 2%;
  justify-content: center;
}

/* .main_img {
  padding: auto;
} */

/* animated text */
#container {
  display: flex;
}

#center {
  margin: auto;
}

.animated_text {
  padding: 7% 0 5% 0;
  display: flex;
  font-weight: 700;
  font-size: 28px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.13em;
  animation: typing 1s steps(4, end);
}

.animated_text {
  background: linear-gradient(90deg, #29d4dd 0%, #1fb29a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* forward button */
.basic_btn:hover {
  background-color: #29d4dd;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.forward--btn {
  color: white;
  background-color: #79b4e9;
  border: none;
  width: 36px;
  height: 35px;
  border-radius: 25px;
  margin-top: 15px;
  opacity: 1;
  position: fixed;
  top: 20px;
  right: 30px;
  align-items: center;
  justify-content: center;
}

#forward_btn--img {
  height: 22px;
  padding-top: 4px;
  background: transparent;
}

.fade-in_btn {
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 428px) {
  .title_img {
    width: 100%;
    margin: 70px 0 30px 0;
  }

  #title {
    height: 30px;
  }

  .forward--btn {
    margin: auto;
    display: fixed;
  }

  #confettiwithlogo {
    margin: auto;
    padding: none;
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  #container {
    width: 80%;
    font-size: 12px;
  }

  .animated_text {
    margin: 10px;
    font-size: 17px;
    display: fixed;
    width: 100%;
    text-align: center;
  }
}
