.App-header {
  background-color: #083b69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 70%;
}

.mainImg {
  padding: 80px 0px 20px 0px;
}

#container {
  display: flex;
}

#center {
  margin: auto;
}

p {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.13em;
  animation: typing 1s steps(4, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.lightGreen {
  color: #08c2cc;
}

.darkGreen {
  color: #01a3a2;
}

button {
  color: white;
  background-color: #8fc7ff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  top: 20px;
  right: 30px;
}

.fade-in_btn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#backbtn_img {
  height: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

button:hover {
  background-color: #01a3a2;
  transition: 0.5s;
}
