ul {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 100px;
  background-color: White;
  place-content: center;
  align-content: center;
}

.dashboardContent {
  color: #fff;
  font-size: 30px;
  transition: 0.5s;
  border: none;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.allContainers {
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  width: 1140px;
}

.dateDetailsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  background-color: transparent;
  padding: auto;
  margin-right: -87px;
  margin-left: 15px;
  position: relative;
}

.dateSideContainer {
  justify-self: center;
  grid-column-end: span 1;
  background-color: #f9e1b4;
  margin-left: -20px !important;
  border-radius: 6px;
  height: 70px;
  padding: 6px;
}

.dateDetailsContainer:hover,
.dateSideContainer {
  cursor: default;
}

.eventDate {
  background-color: transparent;
  color: black;
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  margin-left: 54px;
  margin-right: 8px;
  width: 0px;
}

.eventName {
  grid-column: span 4;
  background-color: #f9e1b4;
  border-radius: 10px;
  height: 100px;
  width: 600px;
  padding: 0px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 0px;
}

.eventName:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.eventIcon {
  grid-column: span 1;
  /* height: 100%; */
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px;
  background-color: #f7f4e85b;
}

.eventType {
  grid-column: span 8;
  background-color: rgba(255, 255, 255, 0.241);
  height: 80px;
  margin: 10px;
  margin-left: -2px;
  border-radius: 10px;
  width: auto;
  display: flex;
  justify-content: left;
  align-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: 800;
  font-family: "Raleway", sans-serif !important;
  padding-left: 20px;
}

.countdownContainer {
  background-color: #fdf9f129;
  border-radius: 10px;
  height: 80px;
  padding: 10px;
  margin: -5px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.eventCountdown {
  grid-column: span 1;
  background-color: #f9e1b4;
  height: 100px;
  margin-left: 0px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: black;
  font-family: "Raleway", sans-serif;
}

.eventCountdown:hover {
  cursor: default;
}

img {
  background-color: transparent;
}

.reminders {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  color: rgba(0, 0, 0, 0.263);
  font-size: 17px;
  background-color: transparent;
  margin-left: 335px;
  margin-top: -50px;
}

.reminder_img {
  background: white;
  padding: 0px;
  margin: auto;
  background-color: transparent;
  margin-left: 315px;
  margin-top: -48px;
  position: absolute;
}

.scrollTo {
  background-color: white !important;
  height: 100px !important;
}
