ul {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 100px;
  background-color: White;
  place-content: center;
  align-content: center;
}

.dashboardContent {
  color: #fff;
  font-size: 30px;
  transition: 0.5s;
  border: none;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.allContainers {
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 160px);
  grid-column-gap: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  width: 1140px;
  max-width: 100%;

  justify-content: center !important;
  align-items: center !important;
}

.dateDetailsContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  background-color: transparent;
  padding: auto;
  margin-right: -50px;
  margin-left: 15px;
  position: relative;
  background-color: transparent;
}

.dateSideContainer {
  justify-self: center;
  grid-column-end: span 1;
  background-color: #f9e1b4;
  margin-left: -20px !important;
  border-radius: 6px;
  height: 70px;
  padding: 6px;
  /* display: grid;
  justify-content: left;
  align-content: end; */
}

.dateDetailsContainer:hover,
.dateSideContainer {
  cursor: default;
}

.eventDate {
  grid-column: span 1;
  background-color: transparent;
  color: black;
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  margin-left: 54px;
  margin-right: 8px;
  width: 75px;
  padding-right: 0px;
}

.eventName {
  grid-column: span 4;
  background-color: #f9e1b4;
  border-radius: 10px;
  height: 100px;
  width: 93%;
  padding: 0px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 0px;
}

.eventName:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.eventIcon {
  grid-column: span 1;
  /* height: 100%; */
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px;
  background-color: #f7f4e85b;
}

.eventType {
  grid-column: span 8;
  background-color: rgba(255, 255, 255, 0.241);
  height: 80px;
  margin: 10px;
  margin-left: -2px;
  border-radius: 10px;
  width: auto;
  display: flex;
  justify-content: left;
  align-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: 800;
  font-family: "Raleway", sans-serif !important;
  padding-left: 20px;
}

.eventCountdown {
  grid-column: span 1;
  background-color: #f9e1b4;
  height: 100px;
  margin-left: -10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: black;
  font-family: "Raleway", sans-serif;
}

.eventCountdown:hover {
  cursor: default;
}
.countdownContainer {
  background-color: #fdf9f129;
  border-radius: 10px;
  height: 80px;
  padding: 10px;
  margin: -5px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

img {
  background-color: transparent;
}

.reminders_container {
  position: relative;
  margin-right: 310px;
  margin-top: 30px;
  width: 500px;
}

.reminders {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  color: rgba(0, 0, 0, 0.263);
  font-size: 17px;
  background-color: transparent;
  margin-left: 300px;
  margin-top: -50px;
}

.reminder_img {
  background: white;
  padding: 0px;
  margin: auto;
  background-color: transparent;
  margin-left: 280px;
  margin-top: -53px;
  position: absolute;
}

.scrollTo {
  background-color: white !important;
  height: 100px !important;
}

@media screen and (max-width: 977px) {
  .events_dashboard--title {
    font-size: 45px;
    top: 100px;
  }
  .allContainers {
    grid-template-columns: repeat(7, 140px);
    /* padding: 10 10px; */
  }

  .eventDate {
    font-size: 18px !important;
    margin-left: 30px;
  }

  .reminders {
    margin-left: 235px;
  }

  .reminder_img {
    margin-left: 215px;
  }

  /* .dateSideContainer {
    margin-left: -45px !important;
  } */
}

@media screen and (max-width: 810px) {
  .allContainers {
    grid-template-columns: repeat(7, 120px);
  }

  .eventDate {
    font-size: 18px !important;
    margin-left: 1px;
  }

  .reminders {
    margin-left: 170px;
  }

  .reminder_img {
    margin-left: 150px;
  }
}

/* @media screen and (max-width: 778px) {
  .events_dashboard--title {
    font-size: 45px;
    top: 100 !important;
  }
  .allContainers {
    grid-template-columns: repeat(7, 110px);
  }
} */
@media screen and (max-width: 428px) {
  .title_container {
    height: 135px;
    margin: -20px;
  }

  .events_dashboard--title {
    font-size: 23px;
    top: 50px !important;
    height: 20px !important;
  }

  .nav_img {
    display: none;
  }

  .dashboardContent {
    height: 60px !important;
  }

  .allContainers {
    grid-template-columns: repeat(7, 60px);
    column-gap: 3px;
  }

  .dateSideContainer {
    padding: 3px;
    height: 40px !important;
    margin-top: 10px;
    margin-right: 14px;
  }

  .dateDetailsContainer {
    padding: 0px;
  }

  .eventDate {
    font-size: 15px !important;
    margin-left: -80px;
    padding-left: 50px;
  }

  .eventIcon,
  .eventType,
  .eventCountdown {
    height: 40px;
    font-size: 20px;
  }

  .eventName {
    width: 220px;
  }
  .eventIcon {
    width: 40px;
  }

  .eventType {
    width: 155px;
    padding-left: 10px;
    font-size: 16px;
  }

  .countdownContainer {
    font-size: 15px !important;
    padding: 2px;
    height: 43px;
  }

  .eventCountdown {
    width: 100px;
  }

  .logoandname {
    height: 30px;
    left: 0px !important;
    display: fixed;
    position: absolute;
    flex-direction: row;
    align-items: flex-start !important;
    margin: auto !important;

    /* left: 10px !important; */
  }

  .reminders {
    margin-left: 26px;
    font-size: 15px;
  }

  .reminder_img {
    margin-left: 10px;
    display: none;
  }

  .reminders_container {
    margin-left: 0px;
    margin-bottom: -30px;
  }

  .clearall_btn {
    left: -170px;
    height: 30px;
    margin-bottom: 30px;
    top: 20px;
    font-size: 15px;
    width: 100px;
    background-color: rgb(232, 228, 228) !important;
    border: none;
    border-radius: 35px;
  }

  .addevent_btn {
    position: fixed;
    right: -25px;
    top: 115px;
    font-size: 15px;
    height: 30px;
    width: 110px;
  }
}
