@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #083b69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 70%;
}

.mainImg {
  padding: 60px 0px 0px 0px;
}

#container {
  display: flex;
}

#center {
  margin: auto;
}

p {
  display: flex;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 1s steps(4, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.lightGreen {
  color: #08c2cc;
}

.darkGreen {
  color: #01a3a2;
}
